:root {
  --orange: #ff6119;
  --orange2: #f58e5e;
  --secondary: #F5F5F5;
}
/* Scroll Animation */
html {
  scroll-behavior: smooth;
}

.color1 {
  color: var(--orange);
}
.bgColor1 {
  background-color: var(--secondary);
}
.nav-link {
  color: var(--orange);
}

/* Custom Button */
.customBtn {
  font-size: 14px;
  font-weight: bold;
  background-color: var(--orange);
  border-radius: 20px;
  padding: 6px 25px 6px 25px;
  border: none;
}
.customBtn:hover {
  background-color: var(--orange2);
}
.customBtn a {
  color: white;
  text-decoration: none;
}

.imgBorder {
  background-color: white;
  border-left: 10px solid var(--orange);
  border-bottom: 10px solid var(--orange);
}

.imgWidth {
  height: 80px;
}

.skill:hover {
  background-color: var(--orange2);
}

.iconColor{
  color: var(--orange);
  text-decoration: none;
}
.iconColor:hover {
  color: #343a40;
}

/* .imgContainer {
  overflow: hidden;
  cursor: pointer;
}
.imgContainer img {
  filter: grayscale(.4);
  transition: .3s;
}
.imgContainer img:hover {
  opacity: 1;
  filter: grayscale(0);
  transform: scale(1.3) rotate(5deg);
} */

.imagesty {
  position: relative;
  background-color: var(--orange2);
  border-radius: 18px;
}
.img:hover {
  opacity: 0.5;
  transition: .5s ease;
}


/* Scroll Indicator */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
.progress-container {
  width: 100%;
  height: 5px;
}
.progress-bar {
  height: 5px;
  background: var(--orange);
  width: 0%;
}


/* Navbar style */
/* Remove border from toggler */
.navbar-toggler {
  border: 0 !important;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}
/* Lines of the Toggler */
.toggler-icon {
  width: 25px;
  height: 2px;
  background-color: #777777;
  display: block;
  transition: all 0.2s;
}
/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}
/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
/* State when navbar is opened (END) */
/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}
/* State when navbar is collapsed (END) */
/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: #777777;
}